.overViewContainer{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items:start;

    height: 100vh;
    padding: 5%;
    margin: 0%;
}


.productImage img{
    position: relative;
    width: 40%;
}


.subcontent_Overview{
    padding: 17px;
    width: 100%;
}

.AddtoCartBtn{
    width: 100%;
    height: 8vh;
    border: 2px solid blueviolet;
    background: transparent;
    color: black;
    background-color: rgb(244, 243, 245);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 10px;
}

.productOverViewName{
    display: flex;
    position: relative;
    right: 26%;
    font-size: 1.5rem;
    font-weight: 400;
}


.subFieldsCart_overview {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: start;
}

.productOverViewPrice{
    display: flex;
    position: relative;
    right: 460px;
    font-weight: 400;
    top: 10%;

}


.productOverViewLine{
    position: absolute;
    line-height: 1px;
    width: 30%;
    height: 1px;
    color: black;
    left: 24%;
    top: 35%;
}

.productOverviewDetails{
    position: absolute;
    left: 24%;
    top: 40%;    
}



.productOverviewDetails > div > span{
    display: flex;
    align-items: center;
}

.productOverViewCart{
    width: 26%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.cartBuyBtn_Overview{
    margin-top: 10px;
    width: 100%;
    height: 8vh;
    border: none;
    background: transparent;
    background-color: rgb(54, 29, 155);
    color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;



}
 



.productOverView_subtotal > div{

    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    



}




.productOverView_fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }
 .productOverView_quantity-incdec{
    width: 80px;
    
 }
.productOverView_qty-btn{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

